.bg-img{
  background-image: url(https://img.uefa.com/imgml/uefacom/ucl/2024/backgroundDark01L.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img2{
  background-image: url(https://img.uefa.com/imgml/uefacom/ucl/2024/backgroundDark01L.jpg);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}